/* MAIN PAGE CSS */

.details-container {
    display: flex;
    flex-direction: column;
    background-color: #F4E4D5;
    animation: fadeIn 1s;
}

.perguntas-frequentes-title {
    display: flex;
    justify-content: center;
    font-size: 2.3em;
    font-weight: 400;
    color: #343434;
    padding: 12px 24px;
    transition: 0.2s;
}

details {
    cursor: default;
}

.titulo-FAQ {
    padding: 12px 24px;
    font-size: 2rem;
    font-weight: 400;
    color: #343434;
    animation: ease-in-out 0.35s;
    transition: 200ms;
}

.titulo-FAQ:hover {
    cursor: pointer;
}

summary {
    font-size: 32px;
    font-weight: 400;
}

.respostas-FAQ {
    padding: 8px 8px 8px 24px;
    animation: ease-in-out 0.35s;
    color: #343434;
    font-size: 1.25rem;
}

summary:hover {
    background-color: #f5eae0;
    transition: 200ms;
}

#tutorial-FAQ {
    display: flex;
    flex-direction: column;
}

img {
    margin: 12px 0px;
}


/* MEDIA QUERIES */

@media screen and (max-width: 1080px) {
    
    /* MAIN PAGE CSS */

    .perguntas-frequentes-title {
        font-size: 28px;
    }

    .titulo-FAQ {
        font-size: 24px;
    }

}
