@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: white;
}

h2{
    font-size: 2.5em;
}

h3{
    font-size: 1.4em;
}

h5{
    font-size: 1em;
}

header{
    width: 100%;
    height: 13vh;
    position: relative;
    background: #E9B8B1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 2%;
    font-weight: bold;
}

input{
    width: 100%;
    height: 50px;
    padding-left: 20px;
    font-size: 22px;
    border-radius: 100px;
    border: 1px solid #ddd;
}

::-webkit-scrollbar-track {
    background-color: rgb(244, 244, 244);
}
::-webkit-scrollbar {
    width: 20px;
    background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
    background: #919090;
    border-radius: 20px;
    box-shadow: 2px 2px 3px #474747;

}

p{
    margin-left: 5%;
}

a{
    transition: 0.2s;
    font-size: 30px;
    color:#474747;
    text-decoration: none;
    margin:6%;
    /* font-weight: normal; */
}

a:hover{
    font-size:2.2em;
    text-decoration: underline;
    transition: 0.2s;
}


/* section{
    color:blue;
} */

article{
    font-size: 1em;
}
nav{
    font-size: 1em;
}

.details-container {
    display: flex;
    flex-direction: column;
    background-color: #F4E4D5;
    letter-spacing: 1px;
}

.perguntas-frequentes-title {
    font-size: 2.3em;
    padding: 12px 24px;
}

details {
    cursor: default;
}

.titulo-FAQ {
    padding: 12px 24px;
    font-size: 2rem;
    font-weight: 600;
    animation: ease-in-out 0.35s;
    transition: 350ms;
}

.underlined{
    text-decoration:underline;
}

.buscar{
    display: flex;
    margin-left: 1%;
    width: 70%;
    display: flex;
    flex-flow: column;
    align-items: normal;
    justify-content: center;
    position: relative;
    margin-right: 15%;
}

summary {
    font-size: 2rem;
    font-weight: 400;
}

.respostas-FAQ {
    padding: 8px 8px 8px 36px;
    animation: ease-in-out 0.35s;
    font-size: 1.25rem;
    transition: 350ms;
}

summary:hover {
    background-color: #f5eae0;
    transition: 350ms;
}
#tutorial-FAQ {
    display: flex;
    flex-direction: column;
}

img {
    margin: 12px 0px;
}

#listaProdutos{
    display: none;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 1;
    top: 50px;
    
}

#listaProdutos li a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 20px;
    border: 1px solid #ddd;
    background: #f6f6f6;
    border-radius: 12px;
    padding: 5px;
    margin-left: 100px;
    margin: 0;
}


#listaProdutos li a:hover{
    background: #eee;
    
}

#siteSections{
    margin-left: 1%;
    display: flex;
    align-items: center;
    width: 80%;
}