section.slider{
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0;
    overflow: hidden;
}
.img-desktop{
    margin-top: 50px;    
}
.slider-content{
    
    width: 400%;
    height: auto;
    display: flex;
    
}
.slider-content input{
    display: none;
}
.slide-box{
    background: bisque;
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 0.5s;
}
.slide-box img{
    width: 350px;
    height: 300px;
    margin: 70px auto 7px;
}
.nav-manual, .nav-auto{
    position: absolute;
    width: 100%;
    margin-top: 2%;
    display: flex;
    justify-content: center;
}
.nav-manual .manual-btn, .nav-auto div{
    border: 1px solid black;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child){
    margin-right: 10px;
}

.nav-manual .manual-btn:hover{
    background-color: black;
}

#radio1:checked ~ .nav-auto .auto-btn1, #radio2:checked ~ .nav-auto .auto-btn2, #radio3:checked ~ .nav-auto .auto-btn3{
    background-color: black;
}

#radio1:checked ~ .primeiro{
    margin-left: 0%;
}

#radio2:checked ~ .primeiro{
    margin-left: -25%;
}

#radio3:checked ~ .primeiro{
    margin-left: -50%;
}

a{
    text-decoration: none;
    color: black;
}
/* .img-desktop{

} */
