@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* CSS PADRÃO PARA TODAS AS PÁGINAS */

* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: #F4F4F4;
}
html {
    scroll-behavior: smooth;
}
h2{
    font-size: 2.5em;
    font-weight: 200;
    color: #343434;
}

h3{
    font-size: 1.4em;
    color: #343434;
}
h4 {
    font-weight: 300;
}

h5{
    font-size: 1em;
    color: #f4f4f4;
    cursor: default;
}

header{
    width: 100%;
    height: 150px;
    position: relative;
    background: #E9B8B1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 300;
}

#inputBusca {
    width: 100%;
    height: 50px;
    padding-left: 20px;
    font-size: 22px;
    border-radius: 9999px;
    border: 1px solid #ddd;
    background-color: #f4f4f4;
}
::-webkit-scrollbar-track {
    background-color: #f4f4f4;
}
::-webkit-scrollbar {
    width: 12px;
    background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
    background: #343434;
    border-radius: 20px;
    box-shadow: 2px 2px 3px #474747;
}

.header-home,
.header-produto,
.header-ajuda,
.header-sobre {
    transition: 0.2s;
    font-size: 30px;
    color: #343434;
    text-decoration: none;
    margin: 8px;
    font-weight: 300;
}

.header-home:hover {
    font-size: 36px;
    text-decoration: underline;
}
.header-produto:hover {
    font-size: 36px;
    text-decoration: underline;
}
.header-ajuda:hover {
    font-size: 36px;
    text-decoration: underline;
}
.header-sobre:hover {
    font-size: 36px;
    text-decoration: underline;
}
nav {
    font-size: 1em;
    padding-left: 24px;
}
li {
    font-size: 16px;
}
footer {
    display: flex;
    justify-content: space-evenly;
    padding: 24px;
    color: #f4f4f4;
    background-color: #B0AE99;
    animation: fadeIn 0.5s;
}
footer img {
    margin: auto 0;
}
footer a {
    all: unset;
    cursor: pointer;
    font-size: 1em;
    margin: 0;
    color: #f4f4f4;
    transition: 0.2s;
}
footer a:hover {
    text-decoration: underline;
}
#underlined {
    text-decoration: underline;
}
.buscar {
    display: flex;
    width: 70%;
    display: flex;
    flex-flow: column;
    align-items: normal;
    justify-content: center;
    position: relative;
    margin-right: 15%;
}
.item-name {
    margin-left: 15px;
}
.nav-links {
    width: 157px;
}
.nav-links > ul > li > ul {
    padding: 0;
    margin-bottom: 8px;
}
.nav-links h5,
footer li > a {
    display: flex;
    justify-content: center;
}
.icon-links {
    font-size: 24px;
}
.link-logo {
    margin: 0px 2%;
}
.logo-home {
    display: flex;
    align-items: center;
    height: 100px;
    transition: 200ms;
}

.logo-home:hover {
    height: 120px;
}
.contact-links {
    display: flex;
}
.backTop {
    position: fixed;
    bottom: 10px;
    right: 15px;
    padding: 5px 10px;
}
#listaProdutos {
    display: none;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 1;
    top: 50px;
    
}

#listaProdutos li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #343434;
    font-size: 20px;
    border: 1px solid #ddd;
    background: #f4f4f4;
    border-radius: 12px;
    padding: 5px;
    margin-left: 100px;
    margin: 0;
}

#listaProdutos li a:hover {
    background: #ddd;
}

#siteSections {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
}
#goBack {
    display: none;
    font-size: 30px;
    padding: 16px;
    border-radius: 50%;
    background-color: #E9B8B1;
    border: 2px solid #343434;
    animation: pulse 1.25s infinite;
    transition: background 200ms;
    backdrop-filter: blur(16px);
}
#goBack:hover {
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

#contacts {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 157px;
    height: 100%;
}

#contacts h5 {
    margin-bottom: 8px;
}

#contacts h5, 
#contacts h4, time {
    display: flex;
    justify-content: center;
}

/* MAIN PAGE CSS */

main {
    background-color: #F4F4F4;
}
button{
    font-size: 1.6em;
    font-weight: bolder;
}
input[type='number']{
    font-size: 1em;
    text-decoration: none;
}
select {
    color: #343434;
}

.title h2 {
    display: flex;
    justify-content: center;
    background-color: #F4E4D5;
    padding: 5px;
    color: #343434;
    border-radius: 0px 0px 10px 10px;
    font-weight: 300;
    font-size: 2em;
}

.wrapper {
    /*display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;*/
    display: grid;
}

.div-infoClientes, 
.div-detalhesPedido, 
.div-medidas, 
.div-orcamento {
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-radius: 6px;
    background-color: #B0AE99;
    border: 2px solid rgba(79, 81, 102, 0.9);
    padding: 2rem;
    margin: 12px;
    box-shadow: 10px 10px 5px #aaa;
}

.legendas-div {
    display: flex;
    justify-content: center;
    font-weight: 500;
}
.legendas-input {
    font-weight: 400;
    color: #343434;
}
.solicitar-orcamento {
    display: flex;
    align-items: center;
    flex-direction: row;
}

#input-altura, 
#input-busto, 
#input-cintura, 
#input-comprimentoBraco, 
#input-comprimentoPerna, 
#input-quadril {
    width: 30%;
    border-radius: 6px;
    background-color: #F4F4F4;
}

#input-telefone {
    width: 47%;
    border-radius: 6px;
    background-color: #F4F4F4;
}

#input-tiposServico, 
#input-tiposRoupas {
    width: 60%;
    border-radius: 6px;
    background-color: #F4F4F4;
}
#input-email, 
#input-nomeCompleto {
    width: 90%;
    border-radius: 6px;
    background-color: #F4F4F4;
}

#input-descricaoPedido, 
#input-endereco,
#input-infoAdd {
    width: 100%;
    border-radius: 6px;
    background-color: #F4F4F4;
}

#input-checkboxOrcamento {
    width: 100%;
    height: 100%;
    max-width: 24px;
    max-height: 24px;
    background-color: #F4F4F4;
    accent-color: #E9B8B1;
    color: #F4F4F4;
}
#legenda-checkboxOrcamento {
    display: flex;
    align-items: center;
}

#input-nomeCompleto,
#input-telefone,
#input-email,
#input-endereco,
#input-descricaoPedido,
#input-infoAdd::placeholder {
    font-weight: 400;
    padding: 4px 16px;
}

main button {
    display: flex;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    background-color: #E9B8B1;
    color: #343434;
    transition: 200ms;
    padding: 1% 5%;
    font-size: 150%;
    gap: 8px;
    margin: 12px auto;
    font-weight: 300;
    box-shadow: 5px 5px 5px #aaa;
}
button:hover {
    background-color: #d6a299;
    transition: 200ms;
}

/* RESPONSIVIDADE */

@media screen and (min-width: 1081px){
    .wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}
@media screen and (max-width: 1080px) {
    /* PADRÃO PARA TODAS AS PÁGINAS */
    header {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 350px;
        padding: 8px 0px;
    }
    #siteSections {
        flex-direction: column;
    }
    .header-home,
    .header-produto,
    .header-ajuda,
    .header-sobre {
        display: flex;
        align-items: center;
        transition: 0.2s;
        font-size: 26px;
        color:#474747;
        text-decoration: none;
        margin: 4px;
    }

    .header-home:hover {
        font-size: 28px;
        text-decoration: underline;
    }
    .header-produto:hover {
        font-size: 28px;
        text-decoration: underline;
    }
    .header-ajuda:hover {
        font-size: 28px;
        text-decoration: underline;
    }
    .header-sobre:hover {
        font-size: 28px;
        text-decoration: underline;
    }
    #inputBusca {
        font-size: 16px;
        height: 36px;
        padding:0 22%;
    }
    .logo-home {
        height: 75px;
        margin: 12px 0px;
    }
    .logo-home:hover {
        height: 90px;
    }
    .buscar {
        margin-right: 0;
    }
    footer {
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }
    #contacts {
        margin: 8px 0;
    }
    #goBack {
        margin-bottom: 24px;
    }

    /* MAIN PAGE CSS */

    .wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 768px){
    .wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    footer {
        flex-wrap: wrap;
    }
}