@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body,
main {
    background-color: #F4F4F4;
}
html {
    scroll-behavior: smooth;
}

h2{
    font-size: 2.5em;
}

h3{
    font-size: 1.4em;
}

h4{
    font-weight: 300;
}

h5{
    font-size: 1em;
}

header{
    width: 100%;
    height: 150px;
    position: relative;
    background: #E9B8B1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 300;
}
.link-logo {
    margin: 0px 2%;
}
.logo-home {
    display: flex;
    align-items: center;
    height: 100px;
    transition: 200ms;
}

.logo-home:hover {
    height: 120px;
    transition: 200ms;
}

::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
::-webkit-scrollbar {
    width: 12px;
    background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
    background: #343434;
    border-radius: 20px;
    box-shadow: 2px 2px 3px #474747;

}

button{
    font-size: 1.6em;
    font-weight: bolder;
}

article{
    font-size: 1em;
}

#inputBusca{
    width: 100%;
    height: 50px;
    padding-left: 20px;
    font-size: 22px;
    border-radius: 9999px;
    border: 1px solid #ddd;
    background-color: #F4F4F4;
}
input[type='number']{
    font-size: 1em;
    text-decoration: none;
}

a{
    transition: 0.2s;
    font-size: 30px;
    color:#343434;
    text-decoration: none;
    margin: 8px;
    /* font-weight: normal; */
}

a:hover{
    font-size: 36px;
    text-decoration:underline;
    transition: 0.2s;
}

li{
    font-size: 16px;
}

nav {
    padding-left: 24px;
}

.title h2 {
    display: flex;
    justify-content: center;
    background-color: #F4E4D5;
    padding: 5px;
    color: #343434;
    border-radius: 0px 0px 10px 10px;
    font-weight: 300;
    font-size: 2em;
}

.wrapper {
    /*display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;*/
    display: grid;
}

.buscar{
    display: flex;
    margin-left: 1%;
    width: 70%;
    display: flex;
    flex-flow: column;
    align-items: normal;
    justify-content: center;
    position: relative;
    margin-right: 15%;
}

.div-infoClientes, 
.div-detalhesPedido, 
.div-medidas, 
.div-orcamento {
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-radius: 6px;
    background-color: #B0AE99;
    padding: 2rem;
    margin: 12px;
    box-shadow: 10px 10px 5px #aaaaaa;
}

.legendas-div {
    display: flex;
    justify-content: center;
    font-weight: 400;
}
.legendas-input {
    font-weight: 300;
}

#input-altura, 
#input-busto, 
#input-cintura, 
#input-comprimentoBraco, 
#input-comprimentoPerna, 
#input-quadril {
    width: 30%;
    border-radius: 6px;
}

#input-telefone {
    width: 47%;
    border-radius: 6px;
}

#input-tiposServico, 
#input-tiposRoupas {
    width: 60%;
    border-radius: 6px
}
#input-email, 
#input-nomeCompleto {
    width: 90%;
    border-radius: 6px;
}

#input-descricaoPedido, 
#input-endereco,
#input-infoAdd {
    width: 100%;
    border-radius: 6px;
}

#input-checkboxOrcamento {
    width: 100%;
    height: 100%;
    max-width: 24px;
    max-height: 24px;
}
#legenda-checkboxOrcamento {
    display: flex;
    align-items: center;
}

#input-nomeCompleto,
#input-telefone,
#input-email,
#input-endereco,
#input-descricaoPedido,
#input-infoAdd::placeholder {
    font-weight: 400;
    padding: 4px 16px;
}

main button {
    display: flex;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    background-color: #E9B8B1;
    transition: 350ms;
    padding: 1% 5%;
    font-size: 150%;
    gap: 8px;
    margin: 12px auto;
    font-weight: 300;
    box-shadow: 5px 5px 5px #aaaaaa;
}
button:hover {
    background-color: #d6a299;
    transition: 350ms;
}

.social-links {
    display: flex;
    background-color: #F4E4D5;
    border-radius: 10px 10px 0px 0px;
    justify-content: space-around;
    padding-top: 6px;
}

#footer-copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #E9B8B1;
    letter-spacing: 1px;
}

#siteSections{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
}

#contacts{
    width: 30%;
    height: 100%;
    display:grid;
    grid-template-rows: 1fr 1fr;
}

#listaProdutos{
    display: none;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 1;
    top: 50px;
}

#listaProdutos li a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #343434;
    font-size: 20px;
    border: 1px solid #ddd;
    background: #f6f6f6;
    border-radius: 12px;
    padding: 5px;
    margin-left: 100px;
    margin: 0;
}


#listaProdutos li a:hover{
    background: #ddd;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 24px;
    margin-top: 36px;
    color: #f4f4f4;
    background-color: #B0AE99;
}
.displayFlex {
    display: flex;
    align-items: center;
}
.nav-links a {
    all: unset;
    cursor: pointer;
}
.nav-links a:hover {
    text-decoration: underline;
}
.icon-links {
    font-size: 24px;
}
#goBack {
    height: 90px;
    padding: 16px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    animation: pulse 1s infinite;
    transition: background 200ms;
    backdrop-filter: blur(16px);
}
#goBack:hover {
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    border: 2px solid #F4F4F4;
    transition: 200ms;
}

#contacts {
    width: 33%;
    height: 100%;
}

#contacts a {
    font-size: 1em;
    margin: 0;
    color: #f4f4f4;
}

@media screen and (min-width: 1081px){
    .wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}
@media screen and (max-width: 1080px) {
    .wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 768px){
    .wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    footer {
        flex-wrap: wrap;
    }
}