@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

* {
    margin: 0;
}


h1{
    font-family: "Amatic SC", sans-serif;
}

h2{
    font-family: "Amatic SC", sans-serif;
    font-size: 2.5em;
}

h3{
    font-family: "Amatic SC", sans-serif;
    font-size: 1.4em;
}

h5{
    font-size: 1em;
}


header{
    width: 100%;
    height: 13vh;
    position: absolute;
    background: #E9B8B1;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-right:2%;
    font-weight: bold;
}

::-webkit-scrollbar-track {
    background-color: rgb(244, 244, 244);
}
::-webkit-scrollbar {
    width: 20px;
    background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
    background: #919090;
    border-radius: 20px;
    box-shadow: 2px 2px 3px #474747;

}

input{
    font-family: "Amatic SC", sans-serif;
    width: 100%;
    height: 50px;
    padding-left: 20px;
    font-size: 22px;
    border-radius: 100px;
    border: 1px solid #ddd;
}

a{
    transition: 0.2s;
    font-family: "Amatic SC", sans-serif;
    font-size: 30px;
    color:#474747;
    text-decoration: none;
    margin:6%;
    /* font-weight: normal; */
}

a:hover{
    font-size:2.6em;
    text-decoration:underline;
    transition: 0.2s;
}

.buscar{
    display: flex;
    font-family: "Amatic SC", sans-serif;
    margin-left: 1%;
    width: 70%;
    display: flex;
    flex-flow: column;
    align-items: normal;
    justify-content: center;
    position: relative;
    margin-right: 15%;
}

.item-name{
    margin-left: 15px;
}

#listaProdutos{
    display: none;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 1;
    top: 50px;
    
}

#listaProdutos li a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 20px;
    border: 1px solid #ddd;
    background: #f6f6f6;
    border-radius: 12px;
    padding: 5px;
    margin-left: 100px;
    margin: 0;
}


#listaProdutos li a:hover{
    background: #eee;
    
}



.hed{
    font-family: "Amatic SC", sans-serif;
    font-size: 2.5em;
    color:#474747;
    text-decoration: none;
    margin:8%;
 
}


main {
    padding: 20px;
}

.hed:hover{
    font-size:2.6em;
    text-decoration:underline;
    transition: 0.2s;
}
.product-section {
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-image {
    max-width: 400px;
    flex: 1;
}

.product-image img {
    max-width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
}

.thumbnail-gallery {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.thumbnail {
    width: 60px;
    height: 60px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
}


.product-details {
    flex: 1;
    margin:  10px 50px;
}

.product-details h2 {
    font-family: 'Cursive';
    color: #333;
}

.product-details p {
    margin: 10px 0;
    font-size: 16px;
    color: #666;
}

.size-buttons button {
    display: inline-block;
    margin: 5px;
    padding: 10px 20px;
    background-color: #E9B8B1;
    border: 1px solid #d8d3d3;
    border-radius: 5px;
    cursor: pointer;
}

.size-buttons3.active{
    background-color: #BC8A83;
}


.price-info {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.price-info span {
    font-size: 24px;
    color: #e53935;
    margin-right: 20px;
}

.buy-button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin:3%;
}
.buy-button:hover{
    background-color: #45a048;
}
.buy-button:active{
    background-color: #378039;
}



.product-contact span {
    font-size: 16px;
    color: #666;
}

.product-description, .size-chart {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-description h3, .size-chart h3 {
    font-family: 'Cursive';
    color: #333;
}

.size-chart table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.size-chart th, .size-chart td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.size-chart th {
    background-color: #f5f5f5;
}

/* Responsividade */
@media (max-width: 768px) {
    
    
    .product-section {
        flex-direction: column;
        align-items: center;
    }
    
    .product-details {
        margin-left: 0;
        margin-top: 20px;
    }
    
    .price-info {
        flex-direction: column;
    }
    
    .price-info span {
        margin-right: 0;
        margin-bottom: 10px;
    }
    
    .header-content {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .header-content .contact-info {
        margin-top: 10px;
    }
    
}


#contacts{
    width: 30%;
    height: 100%;
    display:grid;
    grid-template-rows: 1fr 1fr;
}

#whatsappLogo,
#instagramLogo {
    height: 3.4vh;
    margin-left: 2%;
}

#siteSections{
    margin-left: 1%;
    margin-right: 100px;
    display: flex;
    align-items: center;
    width: 80%;
}


#estiloCampestre{
    /* elemento dispresivel
    não há problema em apagar */
    text-decoration: none;
}

